.checkbox-wrapper-65 *,
.checkbox-wrapper-65 ::after,
.checkbox-wrapper-65 ::before {
  box-sizing: border-box;
}
.checkbox-wrapper-65 .cbx {
  position: relative;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: white;
  background-image: linear-gradient(white, white);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.15), inset 0 -1px 1px rgba(0,0,0,0.15);
  border-color: #69665c;
 
  transition: all 0.15s ease;
}
.checkbox-wrapper-65 .cbx svg {
  position: absolute;
  top: 3px;
  left: 3px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 17;
  stroke-dashoffset: 17;
  transform: translate3d(0, 0, 0);
  
}
.checkbox-wrapper-65 .cbx + span {
  float: left;
  margin-left: 6px;
}
.checkbox-wrapper-65 {
  user-select: none;
}
.checkbox-wrapper-65 label {
  display: inline-block;
  cursor: pointer;
}
.checkbox-wrapper-65 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}
.checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx {
  background-color: #606062;
  background-image: linear-gradient(#69665c, #69665c);
  
}
.checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx svg {
  stroke-dashoffset: 0;
  transition: all 0.15s ease;
}


#logo {
  position: absolute;
  animation: fill 0.5s ease forwards 2s;
}

#logo path:nth-child(1){
  stroke-dasharray: 385.57513427734375;
  stroke-dashoffset: 385.57513427734375;
  animation: line-anim 2s ease forwards ;
}
#logo path:nth-child(2){
  stroke-dasharray: 486.61126708984375;
  stroke-dashoffset: 486.61126708984375;
  animation: line-anim 2s ease forwards ;
}
#logo path:nth-child(3){
  stroke-dasharray: 385.5751037597656;
  stroke-dashoffset: 385.5751037597656;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(4){
  stroke-dasharray: 299.9552001953125;
  stroke-dashoffset: 299.9552001953125;
  animation: line-anim 2s ease forwards;
}

@keyframes line-anim{
  to{
    stroke-dashoffset:0;
  }
}

@keyframes fill{
  to{
    fill:#69665c;
  }
}



.purple {
  color: #c0bbfd;
}

.blue {
  color: #c0dbf3;
}

.green {
  color: #c8f0c1;
}

.red {
  color: #fabebe;
}

.light {
  color: var(--light);
}



























@keyframes moveDownAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
    display: none;
  }
}
@keyframes moveUpAnimation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.strike {
  position: relative;
}

.strike::after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--primary);
  animation-name: strike;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.scrolldown {
  animation: moveDownAnimation 1s cubic-bezier(0, 0, 0.93, 0.38) forwards;
  animation-delay: 1.7s;
}

.scrollup {
  animation: moveUpAnimation 1.3s cubic-bezier(0, 0, 1, -0.02) forwards;
  animation-delay: 1.6s;
}

.avatar {
  height: 10rem;
  width: 10rem;
}

.tag-green {
  background-color: var(--green) !important;
}

.tag-purple {
  background-color: var(--purple) !important;
}

.tag-red {
  background-color: var(--red) !important;
}

.tag-blue {
  background-color: var(--blue) !important;
}

.todocard {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.todocard .btn {
  border: 0 !important;
}

.dropdown-toggle::after,
.dropdown-toggle::before {
  display: none !important;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: rgba(0, 0, 0, 0.106);
}

.checkedtodo {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  text-decoration-color: inherit;
}

.tag-button {
  --bs-btn-bg: #f5f5f5;
  --bs-btn-hover-border-color: #b2aeae;
}

.tag-button:hover {
  box-shadow: rgba(36, 36, 36, 0.2) -5px 16px 10px -10px;
}

.active {
  box-shadow: rgba(205, 205, 205, 0.4) -5px 5px,
    rgba(200, 200, 200, 0.3) -10px 10px;
}

.active:hover {
  box-shadow: rgba(205, 205, 205, 0.4) -4px 3px,
    rgba(200, 200, 200, 0.3) -10px 7px;
}

.icon {
  font-size: 1.5rem !important;
  cursor: pointer;
}

.tag {
  height: 35px;
  width: 35px;
}

.tag-sm {
  height: 20px;
  width: 20px;
}

.account-custom {
  color: #3b3a3a;
}

.info {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 12px;
  border: 0.5px solid var(--primary);
}

.error {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.error-image {
  height: 20rem;
  width: 25rem;
}
.loader-bg {
  background-color: var(--secondary);
}
@media screen and (max-width: 450px) and (min-width: 0px) {
  .hero {
    background-color: var(--secondary);
  }
  .brand-text {
    font-size: 3rem !important;
  }
  .account-custom {
    font-size: 1.3rem !important;
  }
  .avatar {
    width: 5rem !important;
    height: 5rem !important;
  }
  .hero-text {
    font-size: 1rem !important;
  }
  .hero-text-container {
    padding: 0 3rem;
  }
  .tagname {
    font-size: 0.8rem !important;
  }
  .tag {
    height: 20px !important;
    width: 20px !important;
  }
  .emptyImg {
    width: 22rem !important;
  }
  .error-image {
    height: 15rem !important;
    width: 20rem !important;
  }
  .todo-img {
    height: 7.5rem !important;
    width: 21rem !important;
  }
  .spinner {
    height: 70vh !important;
  }
  .emptyDiv {
    padding-left: 0 !important;
  }

  .png-img-container .mb-n2 {
    margin-bottom: -0.7rem !important;
  }
}
@media screen and (max-width: 767px) and (min-width: 451px) {
  .emptyDiv {
    padding-left: 0 !important;
  }
  .hero {
    background-color: var(--secondary);
  }
  .brand-text {
    font-size: 3rem !important;
  }
  .account-custom {
    font-size: 1.3rem !important;
  }
  .avatar {
    width: 5rem !important;
    height: 5rem !important;
  }
  .hero-text {
    font-size: 1rem !important;
  }
  .hero-text-container {
    padding: 0 3rem;
  }
  .tagname {
    font-size: 1rem !important;
  }
  .tag {
    height: 25px !important;
    width: 25px !important;
  }
  .emptyImg {
    width: 25rem !important;
  }
  .error-image {
    height: 15rem !important;
    width: 20rem !important;
  }
  .todo-img {
    height: 7.5rem !important;
    width: 20rem !important;
  }
  .spinner {
    height: 70vh !important;
  }

  .png-img-container .mb-n2 {
    margin-bottom: -0.7rem !important;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .tag-button {
    padding: 0;
  }
  .tagname {
    font-size: 1rem !important;
  }
  .tag {
    height: 30px;
    width: 30px;
  }
}
:root {
  --primary: #69665c;
  --secondary: #fff9de;
  --light: #b2afa1;
  --blue: #d1e5f7;
  --green: #daf2d6;
  --red: #ffcece;
  --purple: #d2ceff;
}